.evidence{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: #FFF6F6;
    width: 100%;
    overflow: hidden;
    padding: 0px 100px;
    @include breakpoint-down(1374px){
        flex-direction: column;
    }
    @include breakpoint-down(535px){
        padding: 0px 50px;
    }
    &-left{
        width: 50%;
        // flex: 1 0 0;
        align-self: stretch;
        background-image: url('../images/evidence.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-right{
        width: 50%;
        display: flex;
        padding: 120px 100px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        // flex: 1 0 0;
        @include breakpoint-down(535px){
            width: 100%;
            padding: 70px 50px;
        }
        @include breakpoint-down(1374px){
            width: 100%;
            padding: 120px 0px;
        }
        @include breakpoint-down(535px){
            padding: 70px 0;
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            align-self: stretch;
            .contentt{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;
                align-self: stretch;
                .top-contents{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 25px;
                    align-self: stretch;
                    .frame{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16px;
                        align-self: stretch;
                        .text1{
                            color: #9F9F9F;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            margin: 0;
                            @include breakpoint-down(535px){
                                font-size: 17px;
                            }
                        }
                        .text2{
                            color: #343F52;
                            font-family: "Space Grotesk";
                            font-size: 44px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 130%; 
                            margin: 0;
                            @include breakpoint-down(535px){
                                font-size: 30px;
                            }
                        }
                    }
                    .text{
                        color: #60697B;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 160%;
                        margin: 0;
                    }
                }
            }
        }
        .scores-and-stars{
            display: flex;
            align-items: flex-start;
            gap: 80px;
            align-self: stretch;
            @include breakpoint-down(535px){
                flex-direction: column;
                gap: 32px;
            }
            .score-and-star{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                .score{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: stretch;
                    .txt1{
                        color: #343F52;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin: 0;
                    }
                    .txt2{
                        color: #343F52;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin: 0;
                    }
                }
                .star{
                    display: flex;
                    align-items: flex-start;
                    gap: 4px;
                    align-self: stretch;
                }
            }
        }
    }
}