.footer{
    display: flex;
    padding: 120px 100px 100px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
    background: #10003E;
    width: 100%;
    overflow: hidden;
    @include breakpoint-down(535px){
        padding: 70px 50px;
    };
    &-top-and-dot{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        .top{
            display: flex;
            padding-bottom: 64px;
            justify-content: space-between;
            align-items: flex-end;
            align-self: stretch;
            @include breakpoint-down(1217px){
            flex-direction: column;
            align-items: start;
            gap: 40px;
            }
            .text{
                color: #FFF;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;  
                margin: 0;
                @include breakpoint-down(535px){
                    font-size: 30px;
                }
            }
            .button{
                display: flex;
                padding: 16px 32px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                background: #F00;
                .btn-txt{
                    color: #FFF;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                    margin: 0;
                }
                .icon{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .dot{
            display: flex;
            height: 1px;
            align-items: flex-start;
            gap: 1px;
            align-self: stretch;
            background: #9F9F9F;
        }
    }
    .cards{
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 100px;
        align-self: stretch;
        @include breakpoint-down(1198px){
            flex-direction: column;
        }
        .cardd{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            flex: 1 0 0;
            .logo{
                display: flex;
                align-items: flex-start;
                gap: 10px;
                .logo-txt{
                    margin: 0;
                    color: #FFF;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin: 0;
                }
            }
            .text{
                color: #FFF;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; 
                margin: 0;
                
            }
            .inputt{
                // width: 200px;
                height: 52px;
                display: flex;
                align-items: center;
                @include breakpoint-down(480px){
                    width: 100%;
                }
                input{
                    // width: 100%;
                    height: 100%;
                    padding-left: 16px;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    border: none;   
                    outline: none;
                    @include breakpoint-down(480px){
                    font-size: 12px;
                    padding-right: -20px;
                }
                }
                .buttonnn{
                    height: 100%;
                    display: flex;
                    // align-items: flex-start;
                    // gap: 10px;
                    border-radius: 0px 8px 8px 0px;
                    background: #F00;
                    .buttonn-text{
                        padding: 16px 32px;
                        color: #FFF;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        // margin: 0;
                        
                    }
                }
            }
        }
    }
}