.home{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #FFF6F6;
    overflow: hidden;
    .left{  
        width: 50%;
        display: flex;
        padding: 150px 100px;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        .title{
            font-size: 54px;
            font-weight: 700;
            line-height: 120%;
            color: #343F52;
            font-style: normal;
        }
        .text{
            font-size: 25px;
            color: #60697B;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
        }
        .button{
             display: flex;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: #F00;
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        i{
            width: 12.3px;
            height: 15px;
        }
        }
    }
    .right{
        width: 50%;
        height: 720px;
        background-image: url('../images/photo1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            color: red;
            font-size: 100px;
            background-color: rgb(255, 255, 255);
            border-radius: 60px;
        }
    }
}
@media (max-width:1460px){
    .home{
        .right{
            height: 820px;
        }
    }
}
@media (max-width:1308px){
    .home{
        .right{
            height: 920px;
        }
    }
} 
@media (max-width:1294px){
    .home{
        flex-direction: column-reverse;
        .left{
            width: 100%;
            padding: 100px 100px;
        }
        .right{
            width: 100%;
            height: 500px;
        }
    }
}
@media (max-width:700px){
    .home{
        .left{
            padding: 60px 100px;
        }
    }
}
@media (max-width:535px){
    .home{
        .left{
            padding: 100px 50px;
            .title{
                font-size: 30px;
            }
            .text{
                font-size: 30px;
            }
        }
    }
}