@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.home{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #FFF6F6;
    overflow: hidden;
    .left{  
        width: 50%;
        display: flex;
        padding: 150px 100px;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        .title{
            font-size: 54px;
            font-weight: 700;
            line-height: 120%;
            color: #343F52;
            font-style: normal;
            font-family: 'Space Grotesk', sans-serif;
        }
        .text{
            font-size: 25px;
            color: #60697B;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
            font-family: 'Inter', sans-serif;
        }
        .button{
             display: flex;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: #F00;
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        i{
            width: 12.3px;
            height: 15px;
        }
        }
    }
    .right{
        width: 50%;
        height: 720px;
        background-image: url('../images/photo1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            color: red;
            font-size: 100px;
            background-color: rgb(255, 255, 255);
            border-radius: 60px;
        }
    }
}