.plans{
    width: 100%;
    display: flex;
    padding: 100px 0px;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    overflow: hidden;
    @include breakpoint-down(1090px){
        flex-direction: column;
    }
    @include breakpoint-down(535px){
        padding: 70px 0px;
    }
    &-top-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        flex: 1 0 0;
        .first2line{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
            .top-text{
                color: #9F9F9F;
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                margin: 0;
                @include breakpoint-down(535px){
                    font-size: 17px;
                }
            }
            .bottom-text{
                color: #343F52;
                font-size: 44px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; 
                margin: 0;
                @include breakpoint-down(535px){
                    font-size: 30px;
                }
            }
        }
        .middle-text{   
            color: #60697B;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
            margin: 0;
        }
        .button{
            display: flex;
            padding: 16px 32px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            background: #F00;
            color: #FFF;
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            text-transform: uppercase;
        i{
            width: 12.3px;
            height: 15px;
        }
    }
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        flex: 1 0 0;
        .card{
            display: flex;
            flex-direction: row;
            padding: 40px;
            align-items: flex-start;
            gap: 40px;
            align-self: stretch;
            border-radius: 12px;
            background: #FFF6F6;
            border: none;
            @include breakpoint-down(700px){
                flex-direction: column;
                align-items: center;
            }
            .icon{
                display: flex;
                padding: 2px 3px;
                align-items: flex-start;
                gap: 10px;
            }
            .contentt{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                flex: 1 0 0;
                .top-Textt{
                    color: #343F52;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin: 0;
                }
                .bottom-text{
                    color: #60697B;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%;
                    margin: 0;
                }
            }
        }
    }
}