.site-section {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 100px;

	&.no-padding {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.has-background-light {
		background-color: #fff6f6;
	}
}
